
a {
  color: #6f9ea8; }

h2 {
  color: #686a6a;
}
h3 {
  color: #2f3030;
}
p,
body .main_footer,
.s_about li {
  color: #686a6a; }

.color_element {
  color: #6f9ea8; }

.main_head {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  overflow: hidden; }

.color_bg {
  background-color: #95c5cf; }

.color_border {
  border-color: #95c5cf; }

.bg_light {
  background-color: #FAFAFA; }

.bg_dark {
  background-color: #95c5cf;
  color: #fff; }
  .bg_dark .s_descr::after {
    background-color: #fff; }
  .bg_dark a {
    color: #fff; }
  .bg_dark h2 {
    color: #fff; }  

.top_mnu a:hover {
  color: #6f9ea8; }
.top_mnu a {
  letter-spacing: 4px; }

.top_text p {
  color: #FAFAFA;
  letter-spacing: 5px; }

.personal_header {
  letter-spacing: 2px; }

.s_descr {
  letter-spacing: 4px; }
  .s_descr::after {
    background-color: #a5a5a5; }

section h3 {
  letter-spacing: 3px;
  color: #888; }

.s_about p:nth-child(even) {
  color: #6f9ea8; }

.resume_container h3 {
  color: #a5a5a5;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600; }

.resume_item .year {
  background-color: #95c5cf;
  color: #fff; }
.resume_item .resume_description {
  letter-spacing: 1px; }

.s_portfolio li {
  color: #888;
  letter-spacing: 2px; }
.s_portfolio li.active {
  color: #fff;
  border-bottom: 1px solid #6f9ea8; }

.portfolio_item .port_item_cont a {
  border-color: #6f9ea8;
  color: #6f9ea8; }

.main_footer a {
  color: #6f9ea8; }

.contacts_icon {
  color: #6f9ea8; }

.text-danger {
  color: #FF6347; }

form input:focus,
form textarea:focus {
  border: 1px solid #95c5cf; }
form input,
form textarea {
  letter-spacing: 2px; }
form button {
  background-color: #95c5cf;
  letter-spacing: 2px; }
form .form-group {
  letter-spacing: 2px;
  color: #888; }

.popup_content {
  letter-spacing: 1px; }
.modal-box-content p {
  color: #888;
}